* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, label, p {
    font-family: Raleway;
    font-weight: 600;
}

input {
    border: 0;
    outline: 0;
}

button {
    border: 0;
    cursor: pointer;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}