.app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(245, 245, 245);
}

form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.10);
}

form h1 {
    margin-bottom: 1rem;
}

.field {
    margin-top: 1rem;
}

.field input{
    width: 100%;
    margin-top: 0.6rem;
    height: 3rem;
    padding: 0 2rem;
    font-size: 1.2rem;
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
}

.field p {
    margin-top: 1rem;
    font-size: 1rem;
    color: #FD355A;
}

button {
    margin-top: 1.4rem;
    width: 100%;
    height: 3rem;
    background-color: #61DAFB;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
}

button:hover {
    filter: brightness(0.95);
    transition: 0.1s;
}

